<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/enter" method="POST">
        <input type='text' placeholder="username" name="username">
        <br/>
        <input type="text" placeholder="code" name="code">
        <br/>
        <input type="text" id='roomNo' placeholder="enter the room " name="room" >
        <br/>
        <input type="submit">
    </form>
</body>
</html>